.purchase-list-container {
  padding-top: 3rem;
  background-color: var(--color-panel-background);
  margin: 1rem;
  border-radius: 0.5rem;
}

.purchase-list-header {
  margin: 0 4rem;
}

.purchase-list-title {
  font-size: 1.125rem;
  font-weight: 700;
}

.purchase-list-subtitle {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}

.purchase-list-table-wrapper {
  overflow-x: auto;
  margin: 0 4rem;
}

.purchase-list-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  text-align: left;
  overflow-x: auto;
}

.purchase-list-table th {
  background-color: var(--color-primary);
  font-weight: 800;
  font-size: 0.75rem;
  color: var(--color-text-tertiary);
  padding: 0.5rem 0;
  padding-left: 1rem;
}

.purchase-list-footer {
  height: 4rem;
  border-top: 1px solid var(--color-border);
}

