.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1.2rem;
  gap: 0.5rem;
}

.section-title {
  text-align: center;
}

.section-title h1 {
  font-size: 2rem;
}

.modal-toggle {
  width: 100%;
  background-color: var(--btn-success);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.modal-toggle:hover {
  background-color: var(--btn-success-hover);
}

.section-title p {
  color: rgb(92, 89, 89);
}

@media screen and (min-width: 769px) {
  .section-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-title {
    text-align: start;
  }

  .modal-toggle {
    width: auto;
  }
}

